.content
    display: flex
    padding: 10px
    background-color: #fff
    border-radius: 5px
    gap: 10px
    width: 100%
    align-items: center
    justify-content: space-between

    &:hover
        border-left: 4px solid var(--primary)

.info
    display: flex
    align-items: center
    gap: 10px

.description
    display: flex
    flex-direction: column
    gap: 4px

.company
    display: flex
    align-items: center
    gap: 10px
    flex-wrap: wrap

.name
    color: var(--primary)

.new
    background-color: var(--primary)
    color: #fff
    padding: 4px 8px
    border-radius: 20px
    display: flex
    font-size: var(--fs-normal)

.featured
    background-color: black
    color: #fff
    padding: 4px 8px
    border-radius: 20px
    display: flex
    font-size: var(--fs-normal)

.position
    font-size: 20px
    font-weight: var(--fw-bold)
    color: var(--primary)

.job_info
    display: flex
    gap: 10px
    flex-wrap: wrap
    color: var(--grey-800)
    font-size: var(--fs-normal)
    font-weight: var(--fw-normal)

.filters
    display: flex
    gap: 10px
    flex-wrap: wrap
    margin-top: 10px

.filter
    background-color: var(--grey-100)
    padding: 4px 8px
    border-radius: 8px
    display: flex
    font-size: var(--fs-normal)
    font-weight: var(--fw-normal)
    color: var(--primary)
    cursor: pointer

    &:hover
        background-color: var(--primary)
        color: #fff

    &_selected
        background-color: var(--primary)
        color: #fff
